footer{
  background-image: url(../images/fondo-patron.gif);
  background-color: $rojo;
  padding: 30px 0;
  color: #fff;
  text-shadow: 1px 1px 4px #B01A1D;
  //max-height: 200px;
}
#footer-content{
  @include outer-container;
}
.copyright{
  text-align: center;
  font-size: 1.2em;
  @include media($tablet) {
    @include span-columns(8);
    @include shift(2);
    @include omega();
  }
  @include media($mobile) {
    @include span-columns(10);
    @include shift(1);
    @include omega(2n);
  }
}
.footer-last{
  @include span-columns(6);
  text-align: right;
}
#disclaimer{
  background-color: darken($rojo, 20%);
  display: inline-block;
  padding: 20px 0;
  p{
    color: #fff;
    font-size: 0.8em;
    text-align: justify;
  }
  a{
    color: #fff;
    font-weight: bold;
  }
  div{
    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
      @include omega();
    }
    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);
      @include omega(2n);
    }
  }
  &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
   }
}
