body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f9f9f9;
  font-family: $main-font;
}

.button{
  background: $main-color;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
  -webkit-box-shadow: 3px 2px 5px -1px rgba(0,0,0,0.6);
  -moz-box-shadow: 3px 2px 5px -1px rgba(0,0,0,0.6);
  box-shadow: 3px 2px 5px -1px rgba(0,0,0,0.6);
  border-radius: 5px;
  font-weight: bold;
  &:hover{

  }
}

h1, h2, h3, h4{
  font-family: $title-font;
}
