@font-face {
    font-family: 'bryant_probold_alternate';
    src: url('../fonts/bryantpro-boldalt-webfont.woff2') format('woff2'),
         url('../fonts/bryantpro-boldalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bryant_promedium';
    src: url('../fonts/bryantpro-medium-webfont.woff2') format('woff2'),
         url('../fonts/bryantpro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bryant_proregular_alternate';
    src: url('../fonts/bryantpro-regularalternate-webfont.woff2') format('woff2'),
         url('../fonts/bryantpro-regularalternate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
