<div id="acumulacion">
  <h2>¿Cómo se acumula Puntos Auto Frecuente en la tarjeta?</h2>
  <div class="tarjetas-outer">
    <div class="tarjetas-container">
      <div class="tarjeta first">
        <img src="/images/cr-tarjeta-autom-dorada-amex-200.png" alt="" />
        <h3>Gold</h3>
        <ul>
          <li>10 Puntos por cada &#x20A1;300<br/><small> de compra en Auto Mercado y Vindi.</small></li>
          <li>2 Puntos por cada &#x20A1;300<br/><small> de compra en el resto de comercios.</small></li>
        </ul>
      </div>
      <div class="tarjeta">
        <img src="/images/cr-tarjeta-autom-platino-amex-200.png" alt="" />
        <h3>Platinum</h3>
        <ul>
          <li>10 Puntos por cada &#x20A1;300<br/><small> de compra en Auto Mercado y Vindi.</small></li>
          <li>4 Puntos por cada &#x20A1;300<br/><small> de compra restaurantes y comida rápida.</small></li>
          <li>2 Puntos por cada &#x20A1;300<br/><small> de compra en el resto de comercios.</small></li>
        </ul>
      </div>
    </div>
  </div>
</div>
