<div id="acumulacion">
  <h2>¿Cómo se acumula Puntos Auto Frecuente en la tarjeta?</h2>
  <div class="tarjetas-outer">
    <div class="tarjetas-container">
      <div class="tarjeta first">
        <img src="https://images.contentful.com/9cds0lha1plv/3HbCCp3rfGuQoSuGSgWeke/f85119a127d4582fac51060a8e2680d2/cr-tarjeta-autom-dorada-amex.png?w=200" alt="" />
        <h3>Gold</h3>
        <ul>
          <li>10 Puntos por cada &#x20A1;300<br/><small> de compra en Auto Mercado y Vindi.</small></li>
          <li>2 Puntos por cada &#x20A1;300<br/><small> de compra en el resto de comercios.</small></li>
        </ul>
      </div>
      <div class="tarjeta">
        <img src="https://images.contentful.com/9cds0lha1plv/7BEqHka2jusoEAgkEM4aAo/4a0dbdd1183b4d7528e638ebbad6ab08/cr-tarjeta-autom-platino-amex.png?w=200" alt="" />
        <h3>Platino</h3>
        <ul>
          <li>10 Puntos por cada &#x20A1;300<br/><small> de compra en Auto Mercado y Vindi.</small></li>
          <li>4 Puntos por cada &#x20A1;300<br/><small> de compra restaurantes y comida rápida.</small></li>
          <li>2 Puntos por cada &#x20A1;300<br/><small> de compra en el resto de comercios.</small></li>
        </ul>
      </div>
    </div>
  </div>
</div>
