<section id="bar">
  <div id="bar-content">
    <div id="bar-title">
      <h1>¿Qué es la tarjeta Auto Mercado American Express® de Credomatic?</h1>
    </div>
    <div id="bar-text">
      <p>Es la tarjeta que te brinda la oportunidad de acumular Puntos Auto Frecuente de forma acelerada cuando comprás en Auto Mercado, Vindi y el resto de comercios. Sumás 10 puntos por cada 300 colones en las compras realizadas exclusivamente en Auto Mercado y Vindi.</p>
    </div>
  </div>
</section>
