<section id="bar">
  <div id="bar-content">
    <div id="bar-title">
      <h1>¿Qué es la Tarjeta Auto Mercado American Express® de BAC Credomatic?</h1>
    </div>
    <div id="bar-text">
      <p>Es la tarjeta que acumula Puntos Auto Frecuente de forma acelerada cuando comprás en Auto Mercado, Vindi y el resto de comercios.
      Sumás 10 Puntos por cada 300 colones en las compras realizadas exclusivamente en Auto Mercado y Vindi.</p>
    </div>
  </div>
</section>
