<section id="beneficios">
  <% 4.times do %>
    <div class="beneficio">
      <img src="http://placehold.it/127x127" alt="Beneficio" />
      <p>Texto del beneficio</p>
    </div>
  <% end %>
</section>
