<div class="cta_bar">
  <div class="cta_bar_content">
    <!-- <p>Empezá a ganar puntos Auto Frecuente con tu Tarjeta Automercado American Express® de Credomatic</p> -->
    <a href="<%= current_page.data.cta_link %>" target="_blank" class="button">
      <%= current_page.data.cta_text %>
    </a>
  </div>
</div>
