<section id="disclaimer">
  <div>
    <p>* Con tu tarjeta Auto Frecuente acumulás 1 Punto por cada 300 colones de compras y ahora con tu tarjeta Auto Mercado American Express® de Credomatic acumulás 10 Puntos por cada 300 colones de compras en Auto Mercado y Vindi. Aplican restricciones. Ver reglamento del programa de lealtad en <a href="http://www.baccredomatic.com" target="_blank">www.baccredomatic.com</a>. American Express es una marca de American Express. Las tarjetas son emitidas por Credomatic bajo licencia de American Express.</p>
  </div>
</section>
