<footer>
  <div id="footer-content">
    <div class="copyright">
      <p>La tarjeta Auto Mercado American Express® de Credomatic es emitida por Credomatic S.A y el administrador del programa de lealtad Auto Frecuente es Auto Mercado.</p>
    </div>
  </div>
</footer>
